@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: #121212;
  --foreground: #ffffff;
}

.MuiListItemText-secondary {
  color: gray !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
